---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title, description, permalink, current = '' } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>

  <body>
    <div class="layout">
      <Header current={current} />

      <main>
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>

<style>
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
    width: 100%;
    max-width: 83ch;
    margin: 0 auto;
    padding: 3em 1em;
  }
</style>
